numpy==1.19.2
tqdm==4.50.2
pandas==1.1.3
pickleshare==0.7.5
scikit-learn==0.23.2
regex==2020.10.15 
fastapi==0.63.0
fr-dep-news-trf @ https://github.com/explosion/spacy-models/releases/download/fr_dep_news_trf-3.0.0/fr_dep_news_trf-3.0.0-py3-none-any.whl
sentence-transformers==1.1.0
spacy-transformers==1.0.2
emoji==1.2.0
torch==1.8.1
xgboost==1.4.0